EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_API_URL=http://localhost:4000/api
EXPO_PUBLIC_SOCKET_URL=http://localhost:4000
APP_NAME=Faceme
APP_SLUG=faceme
IOS_BUNDLE_ID=com.xdtech.faceme
ANDROID_PACKAGE_ID=com.xdtech.faceme
EAS_PROJECT_ID=
