EXPO_PUBLIC_APP_ENV=production
EXPO_PUBLIC_API_URL=https://api.faceme.app/api
EXPO_PUBLIC_SOCKET_URL=https://api.faceme.app
APP_NAME=Faceme
APP_SLUG=faceme
IOS_BUNDLE_ID=com.xdtech.faceme
ANDROID_PACKAGE_ID=com.xdtech.faceme
EAS_PROJECT_ID=
